body {
  font-family: Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: #3b393d;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  overflow-y: scroll; }

#layoutView a {
  text-decoration: none;
  color: #de6551;
  outline: none; }

#layoutView a:hover,
#layoutView a:focus {
  color: #3b393d; }

body {
  background-color: white;
  min-width: 500px;
  margin: 0; }

.site-header {
  width: 100%; }
  .site-header .headerImage {
    width: 100%; }

.user-status a a:visited {
  color: orangered; }

.user-status a:active a:hover {
  color: red; }

.site-status {
  margin-top: 10px;
  /*color: white;*/ }

.site-footer {
  color: #404040; }

.site-footer footer {
  margin: 10px; }

.site-body {
  background-color: #f8f7f2;
  color: #404040;
  padding: 10px; }

.site-username-status {
  list-style-type: none;
  display: inline; }

.home-consumer {
  /*background-color: #888888;*/ }

.home-contractor {
  /*background-color:#888666;*/ }

.dashboard-btn {
  margin-top: 15px; }

.thumbnail_max_size {
  max-height: 100px; }

.strike {
  text-decoration: line-through; }

.margin-top-5 {
  margin-top: 5px; }

.margin-left-5 {
  margin-left: 5px; }

.margin-right-5 {
  margin-right: 5px; }

.margin-5 {
  margin: 5px; }

.session-alert {
  width: 100%;
  margin-top: 5px; }

.session-alert-btn-wrapper {
  padding: 10px; }

.container {
  width: 100%; }
  .container .aboutMeBlock {
    margin-top: 25px;
    height: 100%; }
    .container .aboutMeBlock .aboutMeBorder {
      border: 1px solid #E5E5E5;
      padding: 25px;
      font-family: Oswald, sans-serif; }
      .container .aboutMeBlock .aboutMeBorder h3 {
        color: #484848;
        font-size: 16px; }
      .container .aboutMeBlock .aboutMeBorder .topHeaderBlock {
        margin-top: 0; }
      .container .aboutMeBlock .aboutMeBorder .socialIcons a {
        margin-right: 5px; }
      .container .aboutMeBlock .aboutMeBorder .socialIcons .ddlogo {
        width: 190px;
        margin-top: 15px; }
      .container .aboutMeBlock .aboutMeBorder .nameBlock {
        margin-top: 10px;
        font-size: 14px;
        color: #484848; }
      .container .aboutMeBlock .aboutMeBorder .locationBlock {
        color: #5d5d5d;
        margin-bottom: 10px; }
  .container .content {
    width: 100%; }

#layoutView > div {
  padding-top: 20px; }

.card {
  position: relative;
  margin: 2%;
  min-height: 260px;
  margin-bottom: 65px; }

.card-image {
  width: 45%;
  display: inline-block;
  vertical-align: top;
  height: 260px;
  background-size: cover !important;
  background-position: center !important; }

.card-caption {
  width: 40%;
  position: absolute;
  bottom: 20px;
  left: 10px; }

.card-title {
  font-size: 1.5em;
  line-height: 1;
  margin: 5px 0 0 0;
  color: #fff; }

.card-subtitle {
  font-size: .95em;
  line-height: 1;
  margin: 5px 0 0;
  color: #fff; }

.card-date {
  margin-bottom: 10px;
  font-size: 16px;
  color: #3b393d; }

.card-exerp {
  display: inline-block;
  width: 50%;
  margin-left: 20px;
  max-height: 240px; }

.card-read-more {
  position: absolute;
  bottom: 0;
  right: 0; }

@media screen and (max-width: 720px) {
  .card-image {
    width: 100%;
    display: inline-block;
    left: 50%; }

  .card-exerp {
    display: none; }

  .card-read-more {
    display: none; }

  .card-caption {
    width: 90%; } }

/*# sourceMappingURL=styles.css.map */
