---
layout: default
image: "/images/Header.png"
---
<div class="site-header app-header">
	<img class="headerImage" src="/images/Header.png" />

</div>

<div class="container ">




	<div class="content row">
		<div id="layoutView" class="wrapper col-xs-12 col-md-9 column pull-right">
			{% for post in site.posts %}
			<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
				<div class="card">
					<div class="card-image" style="background: url({{ post.imagemin | prepend: site.baseurl | prepend: site.url }})"></div>
					<div class="card-caption">
						<h2 class="card-title">{{post.title}}</h2>
						<p class="card-subtitle">{{post.subtitle}}</p>
					</div>
					<div class="card-exerp">
						<div class="card-date">{{ post.date | date: "%b %-d, %Y" }}</div>
						{{post.excerpt }}
					</div>
					<div class="card-read-more">Read More...</div>
				</div>
			</a>
			{% endfor %}
		</div>


		<div class="aboutMeBlock col-xs-12 col-md-3 pull-left outsideContent">
			<div class="aboutMeBorder">
				<h3 class="topHeaderBlock">ABOUT ME</h3>
				<div><img src="/images/Profile.png" style="width: 100%;max-width:210px;" /></div>
				<div class="nameBlock">
					James Huffaker
				</div>
				<div class="locationBlock">
					Seattle
				</div>
				<p>
					Full stack web developer, passionate about software and an avid learner. Please reach out in the comments and let me know what you think!
				</p>
				<h3>ELSEWHERE</h3>
				<div class=" socialIcons">
					<a href="http://twitter.com/James_Huffaker" target="_blank"><img src="/images/twitter.png" /></a>
					<a href="https://github.com/huffaker" target="_blank"><img src="/images/github.png" /></a>
					<a href="www.linkedin.com/in/jameshuffaker" target="_blank"><img src="/images/linkedin.png" /></a>
					
				</div>
			</div>
		</div>
	</div>

</div>


<!--<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
	{% for post in site.posts %}
	  <li>
		<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

		<h2>
		  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
		</h2>
	  </li>
	{% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>-->
