<div class="text-right" style="margin-right:20px;margin-bottom:20px;">
	&copy;{{ site.time | date: '20%y' }} James Huffaker
</div>
<script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
        try {
            var pageTracker = _gat._getTracker("UA-65940254-1");
        pageTracker._trackPageview();
        } catch(err) {}
</script>

