.card {
	position: relative;
	margin: 2%;
	min-height: 260px;
	margin-bottom: 65px;
}

.card-image {
	width: 45%;
	display: inline-block;
	vertical-align: top;
	height: 260px;
	background-size: cover !important;
    background-position: center !important;
}
.card-caption {
    width: 40%;
	position: absolute;
	bottom: 20px;
    left: 10px;
}

.card-title {
	font-size: 1.5em;
	line-height: 1;
	margin: 5px 0 0 0;
	color: #fff;
}


.card-subtitle {
	font-size: .95em;
	line-height: 1;
	margin: 5px 0 0;
	color: #fff;
}
.card-date {
	margin-bottom: 10px;
	font-size: 16px;
	color: #3b393d;
}
.card-exerp {
	display: inline-block;
	width: 50%;
	margin-left: 20px;
	max-height: 240px;
}
.card-read-more {
	position: absolute;
    bottom: 0;
    right: 0;
}

@media screen and (max-width: 720px) {
    .card-image {
		width: 100%;
		display: inline-block;
		left: 50%;
		background-color: black;
	}
	.card-exerp {
		display: none;
	}
	.card-read-more {
		display: none;
	}
	.card-caption {
		width: 90%;
	}
}