---
layout: default
---
<div class="site-header app-header">
	<img class="headerImage" src="{{ page.image | prepend: site.baseurl | prepend: site.url }}" />
</div>

<div id="layoutView" class="post container">

	<header class="post-header">
		<a href="{{ site.baseurl | prepend: site.url}}"><img src="/images/close.png" class="post-btn-close btn fa fa-times" /></a>
		<div class="post-caption">
			<h2 class="post-title">{{page.title}}</h2>
			<p class="post-subtitle">{{page.subtitle}}</p>
		</div>
		<div class="page-author">
			<a href="{{ site.baseurl | prepend: site.url}}">
				<img class="meta-avatar" src="/images/Profile-mini.png" alt="James Huffaker"/>
				<span class="meta-author">James Huffaker</span>
			</a>
			<div class="post-date">{{ page.date | date: "%b %-d, %Y" }}</div>
		</div>
		
		<div class="post-twitter">
			<a href="https://twitter.com/intent/tweet?text={{page.title | cgi_escape }}%20by%20%40James_Huffaker&url=http%3A%2F%2Fhuffaker.github.io%2Fblog%2F2015%2F11%2F23%2F{{page.title | replace:' ','-' | cgi_escape }}.html" target="_blank">
				<img src="/images/twitter-post.png" /> Share on Twitter
			</a>
		</div>
	</header>
	<article class="post-content">
		{{ content }}
	</article>
	{% if page.github %}
	<div class="ct-github-link">
		<a href="http://github.com{{ page.github }}" target="_blank">Find this project on Github</a>
	</div>
	{% endif %}
	<div id="disqus_thread"></div>
	<script>
		var disqus_config = function () {
		this.page.url = 'http://jameshuffaker.com';
		this.page.identifier = 'jameshuffakercom';
		};
		(function() {
		var d = document, s = d.createElement('script');

		s.src = '//jameshuffakercom.disqus.com/embed.js';

		s.setAttribute('data-timestamp', +new Date());
		(d.head || d.body).appendChild(s);
		})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>
